{% extends 'base.html' %}
{% block title %}Manage Tags{% endblock %}
{% block body %}
<div class="d-flex justify-content-between align-items-center my-3">
    <h3>Manage Tags</h3>
    <a class="btn btn-primary" href="{{ url_for('index') }}">Back to Notes</a>
</div>

<ul class="list-group">
    {% for tag in tags %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ url_for('tags_view', tag_name=tag.name) }}">{{ tag.name }}</a>
        <div>
        <a href="{{ url_for('tag_edit', tag_id=tag.id) }}" class="btn btn-sm btn-outline-primary">Edit</a>
        <form action="{{ url_for('tag_delete', tag_id=tag.id) }}" method="POST" class="d-inline" onsubmit="return confirm('Are you sure you want to delete this tag? Deleting a tag will remove it from all notes.');">
            <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
        </form>
        </div>
    </li>
    {% else %}
    <li class="list-group-item">No tags found.</li>
    {% endfor %}
</ul>
{% endblock %}